<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563646488257-9lomfvtnuj2pqmnuiilnug2ri0b5o58e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563646488257-9lomfvtnuj2pqmnuiilnug2ri0b5o58e</string>
	<key>API_KEY</key>
	<string>AIzaSyBiL7q6cgy5iiZg5lPXjzS6fm6eAZIL_r8</string>
	<key>GCM_SENDER_ID</key>
	<string>563646488257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutriMind</string>
	<key>PROJECT_ID</key>
	<string>nutrimind-ec817</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrimind-ec817.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563646488257:ios:90446bbdb14a53f86cbe40</string>
</dict>
</plist>
